@import "@baby-ui/tokens/theme.css";
@source "../../../../packages/ui-react/src";
@source "../../../../packages/demos/src";

html,
body,
#root {
	height: 100%;
	margin: 0;
	background: var(--background);
	color: var(--foreground);
}
